<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pdd.trafficlaws">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".gasStationPrices.GazpromNeftAsialActivity">

        </activity>
        <activity
            android:name=".sdakr.OnResultSdaKrThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sdakr.OnResultSdaKrTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sdakr.OnResultSdaKrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fine.OnResultFineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CarInsuranceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AutoNewsCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gasStationPrices.GasStationPricesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".callcentre.activity.CallCentreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sdakr.TrafficLawsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fine.FineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>