<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pdd.trafficlaws">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".sdakr.OnResultSdaKrThreeActivity"></activity>
        <activity android:name=".sdakr.OnResultSdaKrTwoActivity" />
        <activity android:name=".sdakr.OnResultSdaKrActivity" />
        <activity android:name=".fine.OnResultFineActivity" />
        <activity android:name=".fine.DetalisActivity" />
        <activity android:name=".activity.AdditionActivity" />
        <activity android:name=".activity.CarInsuranceActivity" />
        <activity android:name=".activity.AutoNewsCarActivity" />
        <activity android:name=".activity.GasStationPricesActivity" />
        <activity android:name=".callcentre.activity.CallCentreActivity" />
        <activity android:name=".sdakr.TrafficLawsActivity" />
        <activity android:name=".fine.FineActivity" />
        <activity
            android:name=".activity.SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>